

.bg{
  background-image: url(image/principal.jpg);
  background-position: center right ;
}

.bg-gray {
  background-color: #efefef;
}

.search-box {
  width: 25em;
}

#search-box__input {
  width: inherit;
  font-size: 12.5px;
}

#search-box__result {
  position: absolute;
  width: inherit;
}

.nav-logo {
  width: 1.9em;
  margin-right: 1em;
}